streamlit>=1.32
tqdm>=4.66
requests>=2.31
langchain>=0.1.16
langchain-community>=0.0.26
langchain-core>=0.1.44
langchain-huggingface>=0.0.2
langchain-text-splitters>=0.0.2
sentence-transformers>=2.2.2
chromadb>=0.4.24
